{% extends "layout.html" %}

{% block body %}	
	<hr>
	
	<div class="heading1"> 		 
		WELCOME TO THIS QUIZ GAME!		
	</div>

	<div class="standard_text">
		For this game ~3000 questions were collected, many of which derived from lecture notes. Furthermore, 1500 Chinese Hanzi questions were also included. This game was intended to provide me some experience with using a back-end web framework, but it also provides a fun and effective way for memorizing knowledge, and for creating a database for my lecture notes. 
	</div>

	<hr>
{% endblock %}