{% extends "layout.html" %}

{% block body %}
	
	<div class="standard_text">
		Question {{i}} / {{question_amount}}:
	</div> 		

	<div class="question"> 
		<br>{{question}}
	</div>

	<br/>  
	
	<div class="standard_text">
	 	You answered: {{response}} 
	</div>

	<div class="standard_text_green"> 
		YOUR ANSWER WAS CORRECT! 
	</div>
	
	{% if reward_rounded is defined %} 	    
		<div class="standard_text">
			You receive {{reward_rounded}} points reward.
		</div>	   
	{% endif %}
	
	{% if consec_correct_answers == 0 %}	  
		<div class="standard_text">  
			You gave the correct answer to {{ consec_correct_answers_required }} consecutive questions.
			<br/>As a reward, you will receive {{ bonuspoints }} points and skip {{ bonuspoints-1 }} question(s)!
		</div>
	{% endif %}
	
	<hr>

	<br/>  

	<div>
		<form action={{next_question}} method="get">	
			<input type="submit" autofocus type="text" value="Continue with next question">
		</form>
	</div>	

	<hr>
{% endblock %}

