{% extends "layout.html" %}

{% block body %}

	<div class="standard_text">
		Question {{i}} / {{question_amount}}:
	</div> 		

	<div class="question"> 
		<br>{{question}}
	</div>

	<br/>  

	<div>
		<form action={{answer_link}} method="get">
			<input autocomplete="off" placeholder="type your answer" name="response" type="text" autofocus>
			<input type="submit">
		</form>
	</div>

	<div class="standard_text">
		Hints from google:	
	<div>		

	<div class="slideshow-container">

		<div class="mySlides fade">			
			<img src={{urls[0]}} height=200 width=auto> 
		</div>

		<div class="mySlides fade">			
			<img src={{urls[1]}} height=200 width=auto>			
		</div>

		<div class="mySlides fade">			
			<img src={{urls[2]}} height=200 width=auto>
		</div>

		<div class="mySlides fade">
			<img src={{urls[3]}} height=200 width=auto> 
		</div>

		<div class="mySlides fade">
			<img src={{urls[4]}} height=200 width=auto> 
		</div>

		<div class="mySlides fade">			
			<img src={{urls[5]}} height=200 width=auto> 
		</div>

		<div class="mySlides fade">			
			<img src={{urls[6]}} height=200 width=auto>			
		</div>

		<div class="mySlides fade">			
			<img src={{urls[7]}} height=200 width=auto>
		</div>

		<div class="mySlides fade">
			<img src={{urls[8]}} height=200 width=auto> 
		</div>

		<div class="mySlides fade">
			<img src={{urls[9]}} height=200 width=auto> 
		</div>
	</div>

	<script>
	var slideIndex = 0;
	showSlides();

	function showSlides() {
	  var i;
	  var slides = document.getElementsByClassName("mySlides");
	  for (i = 0; i < slides.length; i++) {
	    slides[i].style.display = "none";  
	  }
	  slideIndex++;
	  slides[slideIndex-1].style.display = "block";  
	  setTimeout(showSlides, 10000); // Change image every 5 seconds
	}
	</script>

	<br/>   
	<br/>  

	<hr>
		
	<div class="standard_text_bold">
		Current score: {{ score_rounded }}/100. &nbsp High Score: {{ high_score }}/100 by user: {{ high_score_username }}.
	</div>	
		
	<br/>

	<div class="standard_text">
		Score indicator:	
	</div>	
		
	<div>
		<meter style="float:left;" value={{score_rounded}} min=0 low=33 high=67 max=100 > </meter> 
	</div>	

	<br/>
	<br/>
	<br/> 
	<br/>
	<br/>

	<hr>
{% endblock %}


