{% extends "layout.html" %}

{% block body %}

	{% if gametype == "increasing_difficulty" %}
		{% if score_rounded < max_score %}
			<div class="heading1">
				GAME OVER!
			</div>

		{% else %}
			<div class="heading1"> 
				CONGRATULATIONS! YOU HAVE FINISHED ALL THE QUESTIONS IN THIS CATEGORY!
			</div>
		{% endif %}
	
	{% else %}
		<div class="heading1"> 
			CONGRATULATIONS! YOU HAVE FINISHED ALL THE QUESTIONS IN THIS CATEGORY!
		</div>		
	{% endif %}

	<br/>

	<div class="standard_text">
		Your final score is: 
	</div>	

	<div class="standard_text_bold">
		<br> {{ score_rounded }} out of {{ max_score }} = {{ score_percentage }} %
	</div>

	<br/>   
	<br/>  
	<br/>  
	<br/>  
	<br/>

	<div>
	   	<form action="/" method="get">	
			<input type="submit" type="text" value="Back to main menu" style="float:right;text-align:right;"">
		</form>
	</div>

	<hr>
{% endblock %}

